<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<br/>
<h1 class="alert alert-success">關於這個網頁</h1>
<br/>
<div class="container text-right">
    <a href= "{% url 'home' %}"> 回首頁 </a>
    <br/>
    <br/>
    <p>
        此網頁由 林展煥 於 2021/06/08 開發。
    </p>
    <h4>更新紀錄:</h4>
    <ul style="list-style-type: none;">
        <li> 2021/06/08 新增"密碼生成器"</li>
        <li> 2021/06/09 新增"關於這個網頁"頁面</li>
        <li> 2021/06/09 編輯網頁視覺版面</li>
    </ul>
</div>

