<html>
    {% extends 'base/homebase.html' %}
    {% block home %}
    {% load static %}
            <div class="container text-center">
                <h1 class="alert alert-success">歡迎來到我的首頁</h1>
            </div>
            <div class="container text-right">
                <div style="padding:10px">
                    <div style = "text-align: center;">
                        <img src="{% static 'pictures/英國.png' %}" height = 350 style="text-align: center;">
                    </div>
                    <table>
                        <tfoot >
                            <p style="font-size:large; font-weight:bold">功能表</p> 
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>
                                    <form action = "{% url 'portfolio' %}">
                                        <input type = 'submit' value = '自我介紹' class="btn btn-warning">
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url 'password_generator' %}">
                                        <input type='submit' value='密碼生成器' class="btn btn-warning">
                                    </form>
                                </td>
                                <td>
                                    <form action = "{% url 'blog:blog' %}">
                                        <input type='submit' value='部落格' class="btn btn-warning"> 
                                    </form>
                                </td>
                                <td>
                                    <form action = "{% url 'about' %}">
                                        <input type= 'submit' value = '編輯紀錄' class = 'btn btn-warning'>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="padding:10px">
                    <h5 style="font-size:large; font-weight:bold">網站編輯紀錄</h5>
                    <div class="container text-right">
                        <p>
                            此網頁由 林展煥 於 2021/06/08 開發。
                        </p>
                        <P>更新紀錄:</p>
                        
                    </div>
                </div>
            </div>
        
        {% endblock %}
</html>