{% extends 'blog/base.html' %}
{% block base %}
    
        <div class="main">
            <div class="container text-center">
                <h1 class="alert alert-success">部落格</h1>
            </div>
            
            <div class="container text-right">
                {% for blog in blogs %}
                <div style="border-style:ridge; ">
                    <div style="padding:20px;">
                        <a href=" {% url 'blog:detail' blog.id %} ">{{blog.title}}</a>
                        <hr>
                        <p style="font-size:12px; color:gray">
                            編輯日期: {{ blog.date|date:'Y M d D' }}
                        </p>
                        <p>
                            {{ blog.description }}
                        </p>
                        {% if blog.image.url != null%}
                        <img src="{{ blog.image.url }}" height = 250 >
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
                <br>
                <p>目前有{{ blogs_count }}篇文章<br>
                    {{ blogs.count }} of {{ blogs_count }} article{{ blogs.count|pluralize }} is here.<br>
                    pluralize:複數</p>
                <p>網頁內容可以放html</p>
                
            </div>
            <div class="container text-right">
                <br>
                <form action="{% url 'home' %}">
                    <input type="submit" value="回首頁" class='btn btn-warning'>
                </form>
            </div>
        </div>

        <div class="footer">
            <hr>
            <p>本網站僅供學習用途，不進行任何營利或商業行為</p>
        </div>
{% endblock %}