<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <style>
            .main{
                padding:10px;
                background-color:#f0ecba
            }
        </style>
    </head>
    <body>
        <div class="main">
            <div class="container text-right padding ">
                <div class="alert alert-success">
                    <h1 name='code'>您的密碼: 
                        <span style="color:aliceblue">{{ password }}</span>
                    </h1>
                </div>
            </div>
            <br/>
            <br/>
            <div class="container text-right">
                <br/>
                <br/>
                <form action= "{% url 'home' %}" >
                    <input type='submit' value="回首頁" class="btn btn-success">
                </form>
                <br/>
                <form action = "{% url 'password_generator' %}">
                    <input type='submit' value="下一組密碼" class="btn btn-warning" >
                </form>
                <br/>
                <br/>
            </div>
            <div class="container text-right">
                {% if code %}

                {{ letter }}

                {% endif %}
            </div>
            <div>
                <hr>
                <p style="font-size:small; color:gray" class="container text-center">本網站僅供學習用途，不進行任何營利或商業行為</p>
            </div>
        </div>
    </body>
</html>
