<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<br/>
<div class="container text-right">
    <div class="alert alert-warning">
        <h1>您的密碼: 
            <span style="color:aliceblue">{{ password }}</span>
        </h1>
    </div>
</div>
<br/>
<br/>
<div class="container text-center">
    <br/>
    <br/>
    <form action= "{% url 'home' %}" >
        <input type='submit' value="回首頁" class="btn btn-success">
    </form>
    <br/>
    <form action = "{% url 'password_generator' %}">
        <input type='submit' value="下一組密碼" class="btn btn-warning" >
    </form>
    <br/>
    <br/>
</div>
<div class="container text-right">
    <a href= "{% url 'about' %}"> 關於這個網頁 </a>
</div>
